<div class="ui inverted segment container">
  <div class="ui pointing menu inverted">
    <a routerLink="/elements" routerLinkActive="active" class="brown item"
      >Elements Page</a
    >
    <a routerLink="/collections" routerLinkActive="active" class="teal item"
      >Collections Page</a
    >
    <a routerLink="/views" routerLinkActive="active" class="orange item">Views</a>
    
    <a routerLink="/mods" routerLinkActive="active" class="blue item"
      >Modules</a
    >
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>
